
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table border="1">
    <tr>
        <td>Libelle</td>
        <td>{{ result.libelle}}</td>
    </tr>
    <tr>
        <td>Prix</td>
        <td>{{ result.prix}}</td>
    </tr>
    <tr>
        <td>Quantite</td>
        <td>{{ result.quantite}}</td>
    </tr>
    <tr>
        <td><a href="/home/update/{{ result._id}}">modifier</a></td>
        <td><a href="/home/delete/{{ result._id}}">Delete</a></td>
    </tr>
</table>

</body>
</html>
